<div class="w-full h-full flex flex-col md:flex-row gap-4 bg-gray-50 p-5 shadow-md">
    <div class="p-4 h-fit w-fit shadow-md" [ngClass]="card.iconStyle">
        <lucide-icon [name]="card.iconName" [size]="25"></lucide-icon>
    </div>
    <div class="w-full flex flex-col justify-between">
        <div class="mb-5">
            <h2 class="text-lg font-semibold text-blue-950">{{card.title}}</h2>
            <p class="text-sm text-blue-950">{{card.description}}</p>
        </div>
        <div class="flex justify-end">
            <div class="p-2 h-fit w-fit shadow-md lg:hover:cursor-pointer" [ngClass]="card.redirectStyle" [routerLink]="card.url">
                <lucide-icon name="arrow-right" [size]="20"></lucide-icon>
            </div>
        </div>
    </div>
</div>