<form class="h-auto w-full" [formGroup]="appointmentForm" (ngSubmit)="btnHandlerForm()">
    <div class="w-full flex flex-col gap-6 lg:w-2/3">
        <div class="w-full flex flex-col md:flex-row gap-6">
            <div class="w-full">
                <p class="mb-2 text-base text-blue-950">Cliente*</p>
                <nz-select class="w-full" nzShowSearch nzAllowClear nzPlaceHolder="Selecione uma cliente" formControlName="customerId">
                    <ng-container *ngFor="let customer of customersList">
                        <nz-option 
                            [nzValue]="customer.id"
                            [nzLabel]="customer.name + ' ' + customer.lastname"
                        ></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div class="w-full">
                <p for="date" class="mb-2 text-base text-blue-950">Data*</p>
                <nz-date-picker id="date" class="w-full" nzFormat="dd/MM/yyyy" nzPlaceHolder="Selecione uma data" formControlName="appointmentDate"></nz-date-picker>
            </div>
        </div>
        <div class="w-full flex flex-col md:flex-row gap-6">
            <div class="w-full">
                <p for="time" class="mb-2 text-base text-blue-950">Hora*</p>
                <nz-time-picker id="time" class="w-full" nzFormat="HH:mm" nzPlaceHolder="Selecione a hora" formControlName="appointmentTime"></nz-time-picker>
            </div>
            <div class="w-full">
                <p for="service" class="mb-2 text-base text-blue-950">Serviço*</p>
                <nz-select id="service" class="w-full" nzShowSearch nzAllowClear nzPlaceHolder="Selecione um serviço" formControlName="serviceName">
                    <ng-container *ngFor="let service of servicesType">
                        <nz-option [nzLabel]="service.value" [nzValue]="service.title"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>
        <div class="w-full">
            <p for="observation" class="mb-2 text-base text-blue-950">Observação</p>
            <textarea id="observation" rows="4" nz-input formControlName="observation"></textarea>
        </div>
        <div class="w-full flex justify-center gap-6 md:justify-end">
            <app-button iconName="circle-x" title="Cancelar" routerLink="/menu/appointments" styleProp="cancel" typeBtn="button"></app-button>
            <app-button *ngIf="formIsValid" iconName="save" title="Salvar" styleProp="save" typeBtn="submit"></app-button>
        </div>
    </div>
</form>