<div class="h-dvh flex flex-col">
   <app-header class="sticky top-0 w-full z-50" (toggleSideBar)="getToggleSideBar()" [statusIcon]="changeStatusIcon"></app-header>

   <div class="flex-1 flex flex-col p-5 gap-8 relative">
      <div class="hidden md:flex md:justify-end gap-5">
         <ng-container *ngFor="let button of buttonNavegationList">
            <app-button [iconName]="button.iconName" [title]="button.title" [link]="button.routerLink"></app-button>
         </ng-container>
      </div>

     <div class="flex-1">
         <app-sidebar [toggle]="toggleSideBar" (toggleSidebar)="getToggleSideBar($event)"></app-sidebar>   
         <router-outlet></router-outlet>
     </div>
   </div>
</div>