<div class="w-full bg-gray-100 p-5 shadow-md">
    <div class="flex flex-col justify-between text-blue-950">
        <div class="flex flex-col-reverse justify-between gap-4 md:flex-row">
            <div class="flex flex-col gap-1 pb-2 border-b">
                <div class="flex items-center gap-1">
                    <lucide-icon name="user" [size]="18"></lucide-icon>
                    <p class="font-semibold text-base">{{data.customer.name}} {{data.customer.lastname}}</p>
                </div>
                <div class="flex items-center gap-1">
                    <lucide-icon name="phone" [size]="16"></lucide-icon>
                    <p>{{data.customer.phone | phone}}</p>
                </div>
            </div>
            <div *ngIf="showStatus" class="h-fit w-full p-2 text-center md:text-start md:w-fit" [ngClass]="colorStatus()">
                <p>{{data.status | statusAppointment}}</p>
            </div>
        </div>
        <div class="text-sm flex items-center justify-between gap-1 pt-2">
            <div>
                <p class="text-sm">Serviço</p>
                <div class="flex items-center gap-1">
                    <lucide-icon name="briefcase-business" [size]="18"></lucide-icon>
                    <p class="font-semibold text-base">{{data.serviceName}}</p>
                </div>
            </div>
            <div>
                <div class="flex items-center gap-1">
                    <lucide-icon name="calendar-days" [size]="18"></lucide-icon>
                    <p>{{data.appointmentDate | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="flex items-center gap-1">
                    <lucide-icon name="timer" [size]="18"></lucide-icon>
                    <p>{{data.appointmentTime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>