<div class="w-full flex justify-between items-center">
    <lucide-icon class="text-blue-950" [size]="32" name="arrow-left" routerLink="/menu"></lucide-icon>
    <div class="text-white bg-blue-950 w-fit py-5 px-3 rounded-xl shadow-md flex flex-col">
        <p class="text-xs self-end">Menu</p>
        <div class="flex items-center gap-2  ">
            <lucide-icon class="text-white" [size]="20" name="calendar-days" routerLink="/menu"></lucide-icon>
            <p class="text-base">{{title}}</p>
        </div>
    </div>
</div>